src/objs_d
src/objs
src/stderr.txt
src/stdout.txt

src/mucom88
src/mucom88.exe
src/mucom88_d
src/mucom88_d.exe
src/osdep_test
src/osdep_test.exe
src/mod_test
src/mod_test.exe
src/miniplay
src/miniplay.exe

xcode/miniosx.xcodeproj/xcuserdata
xcode/DerivedData
xcode/miniosx.xcodeproj/project.xcworkspace/xcuserdata

src/mucom88.vcxproj.user
src/.vs/
src/Debug

